<div
  class="flex flex-col lg:flex-row bg-[url('assets/images/bg.jpg')] bg-no-repeat bg-cover w-full text-white h-screen overflow-hidden">
  <section class="section-2">
    <app-search-form class="ml-3"
      (searchLocationEvent)="searchLocation($event)"></app-search-form>
    <header class="title font-normal mt-7 ml-10">List of searched cities</header>
    <app-recent-search
      (searchRecentLocationEvent)="searchLocation($event)"
      [recentSearchList]="recentSearchList"></app-recent-search>
  </section>
  <section
    style="display: flex; justify-content: center; align-items: center; height: 100vh; margin-left: 12%;">
    <div
      style>
      <app-current-weather
        [currentWeather]="weatherData.current"></app-current-weather>
      <app-details-weather
        [detailsWeather]="weatherData.details"></app-details-weather>
    </div>

  </section>
  <div
    *ngIf="loading"
    class="absolute h-screen w-screen bg-gray-900 bg-opacity-5 grid place-items-center backdrop-filter backdrop-blur-xl">
    <p class="text-5xl animate-pulse">Loading...</p>
  </div>
</div>